@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://res.cloudinary.com/dtiqyvglg/image/upload/v1651708470/Quid%20Pro%20Go/QPG_mmajbu.png" alt="Quid Pro GO" height="150">
    <p>A Legal App for People on the GO!</p>
</div>
