@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img class="welcome_gfx" src="https://res.cloudinary.com/dtiqyvglg/image/upload/v1652370448/Quid%20Pro%20Go/QPG_Welcome_sen6no.png" alt="Quid Pro GO" height="400">
    <p>A Legal App for People on the GO</p>
</div>
